// Styling for the team section
.subheader-infame {
  padding-bottom: 15px;
}
.button {
  color: white !important;
  font-size: 20px !important;
  line-height: 22px !important;
  background-color: transparent !important;
  margin-top: 15px;
  padding: 40px;

  &:focus,
  &:active,
  &:visited {
    box-shadow: none !important;
  }
}

@media (min-width: 360px) {
  .subheader-infame {
    padding-bottom: 30px;
  }
  .button {
    margin-top: 30px;
    font-size: 25px !important;
    line-height: 30px !important;
  }
}

@media (min-width: 768px) {
  .button {
    margin-top: 100px;
    font-size: 30px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 768px) {
  .button {
    margin-top: 50px;
    font-size: 35px !important;
    line-height: 40px !important;
  }
}
