span {
  justify-self: center;
}

h6.button-text {
  margin-bottom: 0 !important;
  color: $gray-900;
  justify-self: start;
  font-size: 14px;
  font-weight: 700;
  padding-left: 5px;
}

.icon-call {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  position: relative;
  border-radius: 5px;
  background-color: $primary;
  box-shadow: 1px 1px 8px $primary;
  color: white;
  padding-left: 5px;

  width: 230px;
  height: 40px;

  &:hover {
    color: transparent;
    background-color: $primary;
    box-shadow: 4px 4px 12px $primary;
    h6.button-text {
      color: white;
    }
  }
  &_image {
    width: 35px;
    display: grid;
  }
}

@media (min-width: 535px) {
  .icon-call {
    width: 140px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
