.icon-call {
  display: grid;
  position: relative;
  border-radius: 50%;
  background: #fed136;
  box-shadow: 5px 5px 11px #a88a24, -5px -5px 11px #ffff48;
  width: 70px;
  height: 70px;

  &:hover {
    box-shadow: inset 5px 5px 11px #a88a24, inset -5px -5px 11px #ffff48;
  }
  &_image {
    width: 55px;
    display: grid;
    justify-self: center;
    align-self: center;
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
